table{
    width:100%;
}  
table,th,td{
    border:1px solid gray;
    border-collapse: collapse;
    caption-side: top;
}
th,td{
    padding:7px 15px;
}
th{
    background-color: #008040;
    color: white;
}
tr:nth-child(even){
    background-color: #F0F0F0;
}
tr:hover{
    background-color: #ddd;
}
.post{
	height: 100px;
}